<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Richard Eriksson</string>
	<key>Builder Version</key>
	<string>7534.48.3</string>
	<key>CFBundleDisplayName</key>
	<string>jkDrupal</string>
	<key>CFBundleIdentifier</key>
	<string>com.ethicaldetergent.jkdrupal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jkDrupal.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery.min.js</string>
				<string>jquery.jknav.min.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Adds j/k navigation to Drupal.org comments</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>drupal.org</string>
				<string>groups.drupal.org</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
